#profileContainer {
    width: 90%;
    margin: 40px auto;
    height: 100vh;
}

body {
    background:
        radial-gradient(circle at top left, #cbd8ec, transparent 50%),
        radial-gradient(circle at bottom right, #d8d3f5, transparent 50%),
        #ffffff;
}

#cardsContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 35px;
}

#logoutBtn {
    display: block;
    margin: 50px auto;
    padding: 12px 35px;
    background: #0a2a66;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#logoutBtn:hover {
    background: #163d8d;
}
