* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-page {
    background:
        radial-gradient(circle at top left, #cbd8ec, transparent 50%),
        radial-gradient(circle at bottom right, #d8d3f5, transparent 50%),
        #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    margin: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    color: #09296f;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#heading {
    font-size: 40px;
}

form {
    margin: auto;
    padding: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 2px solid rgb(216, 209, 209);
    border-radius: 10px;
    background-color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    gap: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    height: fit-content;
}

.user_info_signup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
}

.input_field {
    background-color: white;
    padding: 4px;
    margin: 0px;
    border-radius: 5px;
    width: 300px;
    margin-top: -10px;
    box-sizing: border-box;
    border: 2px solid rgb(175, 168, 168);
}

.labels {
    background-color: white;
    color: #03153b;
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 1;
}

#signup_button {
    width: 300px;
    height: 40px;
    border: 2px solid #09296f;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    background-color: #09296f;
    border-radius: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
    color: white;
    cursor: pointer;
}

#signup_button:hover {
    opacity: 0.8;
}

#login {
    background-color: white;
}

.error-text {
    color: red;
}
