.footer{
    background:#0F172A;
    color:white;
    text-align:center;
    padding:60px 20px;
}

.footer h2{
    font-size:36px;
}

.footer p{
    margin-top:15px;
    color:#CBD5E1;
}

.footerLinks{
    margin:35px 0;
    display:flex;
    justify-content:center;
    gap:35px;
}

.footerLinks a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.footerLinks a:hover{
    color:#06B6D4;
}

.copy{
    font-size:14px;
}