.hero {
    min-height: 100vh;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 120px 90px;

    position: relative;

    overflow: hidden;

    background: #f8fafc;
}

.blob {
    position: absolute;

    border-radius: 50%;

    filter: blur(120px);

    z-index: 0;
}

.blob1 {
    width: 320px;

    height: 320px;

    background: #8b5cf6;

    left: -120px;

    top: -100px;

    opacity: 0.25;
}

.blob2 {
    width: 350px;

    height: 350px;

    background: #06b6d4;

    right: -120px;

    bottom: -100px;

    opacity: 0.2;
}

.heroLeft {
    width: 55%;

    padding-right: 40px;
    z-index: 2;
}
.heroRight {
    width: 45%;
}

.tag {
    display: inline-block;

    padding: 10px 18px;

    background: #eef2ff;

    border-radius: 30px;

    color: #6c63ff;

    font-weight: 600;

    margin-bottom: 30px;
}

.heroLeft h1 {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 800;
    max-width: 650px;
}
.desc {
    margin-top: 30px;

    font-size: 20px;

    line-height: 1.8;

    color: #64748b;

    max-width: 560px;
}

.heroButtons {
    display: flex;

    gap: 20px;

    margin-top: 40px;
}

.primary {
    display: flex;

    align-items: center;

    gap: 10px;

    padding: 16px 35px;

    border: none;

    border-radius: 40px;

    background: linear-gradient(135deg, #6c63ff, #06b6d4);

    color: white;

    font-size: 17px;

    cursor: pointer;

    transition: 0.3s;
}

.primary:hover {
    transform: translateY(-5px);
}

.secondary {
    padding: 16px 35px;

    border: 2px solid #6c63ff;

    background: white;

    border-radius: 40px;

    cursor: pointer;

    font-size: 17px;

    color: #6c63ff;
}

.heroRight {
    width: 45%;

    display: flex;

    justify-content: center;

    z-index: 2;
}

.dashboard {
    width: 420px;

    background: white;

    border-radius: 30px;

    padding: 30px;

    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

.dashboardTop {
    display: flex;

    justify-content: space-between;

    margin-bottom: 30px;
}

.dashboardCard {
    display: flex;

    align-items: center;

    gap: 18px;

    padding: 18px;

    border-radius: 18px;

    background: #f8fafc;

    margin-bottom: 18px;
}

.dashboardCard svg {
    font-size: 25px;

    color: #6c63ff;
}

.dashboardCard h4 {
    font-size: 16px;
}

.dashboardCard p {
    font-size: 13px;

    color: #64748b;
}

.success {
    margin-left: auto;

    background: #dcfce7;

    padding: 8px 15px;

    border-radius: 20px;

    font-size: 13px;

    color: #16a34a;
}

.progress {
    margin-top: 25px;

    height: 10px;

    background: #e2e8f0;

    border-radius: 20px;

    overflow: hidden;
}

.progressFill {
    width: 92%;

    height: 100%;

    background: linear-gradient(90deg, #6c63ff, #06b6d4);
}

.progressText {
    margin-top: 15px;

    text-align: center;

    color: #64748b;
}
