.notesPage{
    min-height:100vh;
    background:#F4F7FB;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.notesCard{
    width:700px;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.notesCard h1{
    text-align:center;
    color:#6C63FF;
    margin-bottom:30px;
}

.notesCard h3{
    margin-top:20px;
    margin-bottom:10px;
}

.notesCard p{
    color:#555;
    line-height:1.7;
}

.notesCard ul{
    margin-left:20px;
    line-height:2;
}

.notesCard button{
    margin-top:30px;
    padding:12px 25px;
    background:#6C63FF;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}