.processingPage{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#F4F7FB;

}

.processingCard{

width:600px;

background:white;

padding:45px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.processingCard h1{

color:#6C63FF;

margin-bottom:20px;

}

.processingCard h2{

margin-bottom:30px;

color:#444;

}

.loader{

height:14px;

background:#E5E7EB;

border-radius:20px;

overflow:hidden;

margin-bottom:35px;

}

.loaderFill{

height:100%;

width:0%;

background:#6C63FF;

animation:loading 3s linear forwards;

}

@keyframes loading{

from{

width:0%;

}

to{

width:100%;

}

}

.steps{

text-align:left;

margin-top:30px;

}

.steps p{

margin:15px 0;

font-size:17px;

}