.quiz-page{
    min-height:100vh;
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.quiz-conatiner{
    width:700px;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.quiz-container h1{
    text-align:center;
    margin-bottom:30px;
}

.progress p{
    margin-bottom:10px;
}

.progress-bar{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:20px;
}

.progress-fill{
    width:20%;
    height:100%;
    background:#6C63FF;
    border-radius:20px;
}

.question-box{
    margin-top:35px;
}

.question-box h2{
    margin-bottom:25px;
}

.question-box button{
    display:block;
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    background:white;
    cursor:pointer;
    border-radius:8px;
    text-align:left;
}

.question-box button:hover{
    background:#6C63FF;
    color:white;
}

.quiz-buttons{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}

.quiz-buttons button{
    padding:12px 25px;
    border:none;
    background:#6C63FF;
    color:white;
    border-radius:8px;
    cursor:pointer;
}
.question-box button.selected{
    background:#6C63FF;
    color:white;
    border-color:#6C63FF;
}
.restart-btn{
    margin-top:30px;
    padding:12px 30px;
    background:#6C63FF;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.restart-btn:hover{
    background:#5548d8;
}