.testimonials{
    padding:100px 90px;
    background:#F8FAFC;
    text-align:center;
}

.sectionTag{
    display:inline-block;
    padding:10px 22px;
    border-radius:30px;
    background:#EEF2FF;
    color:#6C63FF;
    font-weight:600;
    margin-bottom:20px;
}

.testimonials h2{
    font-size:48px;
    margin-bottom:60px;
    color:#0F172A;
}

.testimonialGrid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.testimonialCard{
    background:white;
    border-radius:20px;
    padding:35px;
    box-shadow:0 15px 35px rgba(0,0,0,.05);
    transition:.3s;
}

.testimonialCard:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 45px rgba(108,99,255,.15);
}

.quote{
    font-size:50px;
    color:#6C63FF;
}

.testimonialCard p{
    margin:20px 0;
    color:#64748B;
    line-height:1.8;
}

.testimonialCard h3{
    color:#0F172A;
}

.testimonialCard span{
    color:#6B7280;
}