.uploadPage{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#F4F7FB;

padding:40px;

}

.uploadCard{

width:600px;

background:white;

padding:45px;

border-radius:15px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

text-align:center;

}

.uploadCard h1{

color:#6C63FF;

margin-bottom:15px;

}

.uploadCard p{

color:#666;

margin-bottom:30px;

line-height:1.6;

}

.uploadBox{

display:block;

border:2px dashed #6C63FF;

padding:45px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.uploadBox:hover{

background:#F7F5FF;

}

.uploadIcon{

font-size:60px;

margin-bottom:15px;

}

.uploadBox h3{

margin-bottom:10px;

}

.uploadBox span{

color:#888;

}

.selectedFile{

margin-top:25px;

font-weight:600;

color:#444;

}

.uploadBtn{

margin-top:30px;

padding:15px 35px;

background:#6C63FF;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.uploadBtn:hover{

background:#574BDB;

}